USE [ShipmentManagement]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 3/13/2025 3:04:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[itemid] [int] IDENTITY(1,1) NOT NULL,
	[shipmentid] [int] NULL,
	[item_name] [varchar](max) NULL,
	[item_code] [varchar](50) NULL,
	[item_quantity] [nvarchar](max) NULL,
	[item_weight] [nvarchar](max) NULL,
	[item_price] [float] NULL,
	[item_category] [varchar](50) NULL,
	[dttm_upd] [datetime] NULL,
	[int_deleted_flag] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 3/13/2025 3:04:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[shipmentid] [int] IDENTITY(1,1) NOT NULL,
	[shipment_type] [varchar](50) NOT NULL,
	[origin] [varchar](max) NOT NULL,
	[destination] [varchar](max) NOT NULL,
	[dttm_shipment] [datetime] NOT NULL,
	[status] [smallint] NOT NULL,
	[dttm_upd] [datetime] NOT NULL,
	[int_deleted_flag] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_int_deleted_flag]  DEFAULT ((0)) FOR [int_deleted_flag]
GO
ALTER TABLE [dbo].[Shipment] ADD  CONSTRAINT [DF_Shipment_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Shipment] ADD  CONSTRAINT [DF_Shipment_int_deleted_flag]  DEFAULT ((0)) FOR [int_deleted_flag]
GO
/****** Object:  StoredProcedure [dbo].[usp_ShipmentManagement]    Script Date: 3/13/2025 3:04:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jharashree Pattnaik
-- Create date: 6-03-2025
-- Description:	Add/view/edit/delete shipment along with the corresponding items
-- =============================================
CREATE PROCEDURE [dbo].[usp_ShipmentManagement]
  @ACTION VARCHAR(50),
  @ITEMID INT,
  @SHIMENTID INT,
  @SHIPMENT_TYPE VARCHAR(50),
  @ORIGIN VARCHAR(MAX),
  @DESTINATION VARCHAR(MAX),
  @SHIPMENT_DATE DATETIME,
  @STATUS INT,
  @DTTM_UPD DATETIME,
  @ITEM_NAME VARCHAR(50),
  @ITEM_CODE VARCHAR(50),
  @ITEM_QUANTITY NVARCHAR(MAX),
  @ITEM_WEIGHT DECIMAL(18,2),
  @ITEM_PRICE DECIMAL(18,2),
  @ITEM_CATEGORY VARCHAR(50),
  @OUTPUT VARCHAR(100)

AS
BEGIN
BEGIN TRANSACTION 
BEGIN TRY 

IF (@ACTION ='A')  --INSERTED DATA INTO SHIPMENT TABLE
BEGIN
 INSERT INTO SHIPMENT(SHIPMENT_TYPE,ORIGIN,DESTINATION,DTTM_SHIPMENT,STATUS,DTTM_UPD) VALUES(@SHIPMENT_TYPE,@ORIGIN,@DESTINATION,@SHIPMENT_DATE,@STATUS,@DTTM_UPD)
 INSERT INTO ITEM(ITEM_NAME,SHIPMENTID,ITEM_CODE,ITEM_QUANTITY,ITEM_WEIGHT,ITEM_PRICE,ITEM_CATEGORY,DTTM_UPD) VALUES(@ITEM_NAME,@SHIMENTID,@ITEM_CODE,@ITEM_QUANTITY,@ITEM_WEIGHT,
 @ITEM_PRICE,@ITEM_CATEGORY,@DTTM_UPD)
 
 SET @OUTPUT='1'; --DATA INSERTED SUCCESSFULLY
END

IF (@ACTION ='V')  --DISPLAY DATA FROM SHIPMENT TABLE
BEGIN
	IF (@SHIPMENT_TYPE='' OR @STATUS=0)
	BEGIN
	SELECT SHIPMENT_TYPE,ORIGIN,DESTINATION,DTTM_SHIPMENT,STATUS FROM SHIPMENT WHERE INT_DELETED_FLAG<> 1 ORDER BY DTTM_SHIPMENT DESC
	END
	ELSE IF (@SHIPMENT_TYPE <>'' OR @STATUS <> 0)
	BEGIN
	SELECT SHIPMENT_TYPE,ORIGIN,DESTINATION,DTTM_SHIPMENT,STATUS FROM SHIPMENT WHERE SHIPMENT_TYPE=@SHIPMENT_TYPE AND STATUS=@STATUS AND 
	INT_DELETED_FLAG<> 1 ORDER BY DTTM_SHIPMENT DESC
	END
END

IF (@ACTION ='S')  --DISPLAY ITEMS FOR A SPECIFIC SHIPMENT
BEGIN
SELECT DISTINCT A.ITEMID,A.ITEM_NAME FROM ITEM A INNER JOIN SHIPMENT B ON A.SHIPMENTID=B.SHIPMENTID  WHERE A.INT_DELETED_FLAG<> 1 AND 
B.INT_DELETED_FLAG<> 1 AND B.SHIPMENTID=@SHIMENTID
END

IF (@ACTION ='E')  --EDIT SHIPMENT DETAILS INCLUDING ITS ITEMS
BEGIN
SELECT B.SHIPMENT_TYPE,B.ORIGIN,B.DESTINATION,B.DTTM_SHIPMENT,B.STATUS ,A.ITEMID,A.ITEM_NAME FROM ITEM A INNER JOIN
SHIPMENT B ON A.SHIPMENTID=B.SHIPMENTID  WHERE A.INT_DELETED_FLAG<> 1 AND B.INT_DELETED_FLAG<> 1 AND B.SHIPMENTID=@SHIMENTID
END

IF (@ACTION ='U')  --UPDATE SHIPMENT DETAILS
BEGIN
UPDATE SHIPMENT SET SHIPMENT_TYPE=@SHIPMENT_TYPE,ORIGIN=@ORIGIN,DESTINATION=@DESTINATION,DTTM_SHIPMENT=@SHIPMENT_DATE,STATUS =@STATUS
,DTTM_UPD=@DTTM_UPD WHERE SHIPMENTID=@SHIMENTID AND INT_DELETED_FLAG<> 1 
SET @OUTPUT='2'; --Updated sucessfully 
END

IF (@ACTION ='P')  --UPDATE SHIPMENT STATUS ON BASIS OF LOGGED TIME STAMP
BEGIN
UPDATE SHIPMENT SET STATUS =@STATUS,DTTM_UPD=GETDATE() WHERE SHIPMENTID=@SHIMENTID AND INT_DELETED_FLAG<> 1
END

IF (@ACTION ='Q')  --UPDATE ITEM DETAILS FOR SPECIFIC SHIPMENT
BEGIN
UPDATE ITEM SET ITEM_NAME=@ITEM_NAME,SHIPMENTID=@SHIMENTID,ITEM_CODE=@ITEM_CODE,ITEM_QUANTITY=@ITEM_QUANTITY,ITEM_WEIGHT=@ITEM_WEIGHT,ITEM_PRICE=@ITEM_PRICE,
ITEM_CATEGORY=@ITEM_CATEGORY,DTTM_UPD=@DTTM_UPD WHERE ITEMID=@ITEMID AND SHIPMENTID=@SHIMENTID AND INT_DELETED_FLAG<> 1
SET @OUTPUT='2'; 
END

IF (@ACTION ='O')  --TOTAL WEIGHT OF ALL ITEMS IN A SHIPMENT DOES NOT EXCEED A PREDEFINED LIMIT
BEGIN
DECLARE @TOTALWEIGHT DECIMAL;

SELECT @TOTALWEIGHT=ISNULL(SUM(CONVERT (DECIMAL,A.ITEM_WEIGHT)),0)  FROM ITEM A INNER JOIN  SHIPMENT B ON A.SHIPMENTID=B.SHIPMENTID  
WHERE B.SHIPMENTID=@SHIMENTID AND A.INT_DELETED_FLAG<> 1 AND B.INT_DELETED_FLAG<> 1

IF(@TOTALWEIGHT>10000)
BEGIN
SET @OUTPUT='9'
END
END

IF (@ACTION ='D')  --DELETE SHIPMENT
BEGIN
DECLARE @ITEMDET NVARCHAR(MAX);
SELECT @ITEMDET= COUNT (A.ITEMID) FROM ITEM A INNER JOIN SHIPMENT B ON A.SHIPMENTID=B.SHIPMENTID  WHERE B.SHIPMENTID=@SHIMENTID 
AND  A.INT_DELETED_FLAG<> 1 AND B.INT_DELETED_FLAG<> 1

IF(@SHIMENTID <>0 AND @ITEMDET <> '0')

BEGIN
SET @OUTPUT='5'; --CANNOT DELETE A SHIPMENT THAT HAS ASSOCIATED ITEMS
END
ELSE
BEGIN
DELETE FROM SHIPMENT WHERE SHIPMENTID=@SHIMENTID; 
SET @OUTPUT='3'; --Deleted successfully
END
END

IF (@ACTION ='VR') --REPORT DETAILS
BEGIN
SELECT COUNT (B.SHIPMENTID)SHIPMENTCOUNT ,ISNULL(SUM(CONVERT (DECIMAL,A.ITEM_WEIGHT)),0) ITEMWEIGHT FROM ITEM A INNER JOIN
SHIPMENT B ON A.SHIPMENTID=B.SHIPMENTID  AND A.INT_DELETED_FLAG<> 1 AND B.INT_DELETED_FLAG<> 1
END
 
IF @@TRANCOUNT > 0
BEGIN COMMIT TRANSACTION;
END
END TRY 
BEGIN CATCH
IF @@TRANCOUNT > 0
BEGIN ROLLBACK TRANSACTION;
END
SET @OUTPUT='0';
END CATCH
END 
GO
